/target
/.settings
.classpath
.project
/logs
/bin
target/**
.settings
.classpath
.project
.target
.idea
.git
**/target/
/target
**/WEB-INF/lib/
**/WEB-INF/classes/
buid
*.psd
**/deploy/*.log
**/webapp/public/*
.idea/
*.iml